/* Basic Styling */

*{
  font-family: Roboto, sans-serif;
  margin: 0px;
}

html,
body{
  height: 100%;
}

.header,
.footer,
.hero{
  background-color: #1F2937;
  color: #F9FAF8;
}

.logo{
  font-size: 24px;
}

.hero{
  font-size: 48px;
  font-weight: 800;
}

.information{
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.quote{
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.call{
  background-color: #3882F6;
}

.header,
.section,
.footer{
  padding-left: 150px;
  padding-right: 150px;
}

/* Layout */

body{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  list-style: none;
  gap: 5px;
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section{
  flex-grow: 1;
}

.footer{
  flex-basis: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}