/* Basic Styling */

*{
  font-family: Roboto, sans-serif;
}

.header,
.footer,
.hero{
  background-color: #1F2937;
  color: #F9FAF8;
}

.header{
  font-size: 24px;
}

.hero{
  font-size: 48px;
  font-weight: 800;
}

.information{
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.quote{
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.call{
  background-color: #3882F6;
}