/* Basic Styling */

*{
  font-family: Roboto, sans-serif;
  margin: 0px;
}

html,
body{
  height: 100%;
}

.header,
.footer,
.hero{
  background-color: #1F2937;
  color: #F9FAF8;
}

.header{
  padding-top: 10px;
}

.logo{
  font-size: 24px;
  font-weight: 800;
}

.hero .col1{
  width: 600px;
}

.hero .main{
  font-size: 40px;
  font-weight: 800;
}

.hero img{
  height: 200px;
  width: 700px;
}

.hero .secondary{
  padding-top: 5px;
  padding-bottom: 10px;
  color: #E5E7EB;
  font-size: 18px;
}

.hero button{
  font-size: 16px;
  font-weight: 600;
  background-color:#3882F6;
  color: white;
  border-style: none;
  border-radius: 8px;
  padding: 5px 20px;
}

.hero button:hover{
  background-color: white;
  color: black;
}

.hero button:active{
  transform: translateY(4px);
}

.info-block{
  width: 120px;
}

.info-block img{
  height: 120px;
  width: 120px;
  border-radius: 8px;
  border-style: solid;
  border-color: #3882F6;
}

.information-header{
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.quote{
  background-color: #E5E7EB;
}

.quote-text{
  font-size: 30px;
  font-style: italic;
  color: #1F2937;
}

.quote-attribution{
  font-weight: 800;
}

.call{
  background-color: #3882F6;
}

/* Layout */

.header,
.section,
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

body{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  list-style: none;
  gap: 10px;
}

.links a{
  text-decoration: none;
  color: white;
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section{
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero{
  gap: 20px;
}

.information{
  display: flex;
  flex-direction: column;
}

.information-content{
  display: flex;
  text-align: center;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.quote{
  display: flex;
  flex-direction: column;
}

.quote-attribution{
  align-self: flex-end;
}

.call{
  margin: 50px 100px;
  color: white;
  gap: 20px;
  justify-content: space-between;
  padding: 30px 70px;
}

.call-header{
  font-weight: 800;
}

.call button{
  font-size: 16px;
  font-weight: 600;
  background-color:#3882F6;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  padding: 5px 20px;
}

.call button:hover{
  background-color: white;
  color: black;
}

.call button:active{
  transform: translateY(4px);
}

.footer{
  flex-basis: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}